@import "bootstrap";

body {
  background-color: #f5f5f5;
  color: #333333;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.navbar-default {
  background-color: #6bbaa7;
}

.navbar-default .navbar-brand {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;
  color: #6c648b;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}




.center {
  text-align: center;
}

.jumbotron {
  background-image: url('https://s3-eu-west-1.amazonaws.com/fypdcu/rentit.png');
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
    }
}